/* Color styles */
$color-space: #0B1E8A;
$color-space-light: #3D68B2;
$color-space-dark: #040327;
$color-mars: #E85937;
$color-mars-light: #FF8C70;
$color-mars-dark: #CF3F1D;
$color-gray-1: #0D0E13;
$color-gray-2: #2C2D3A;
$color-gray-3: #60616F;
$color-gray-4: #898A93;
$color-gray-5: #D5D5DB;
$color-uranus: #24FFE9;
$color-sun: #F5D15F;
$color-jupiter: #E00E34;
$color-earth: #0FDD86;
$color-saturn: #554AD7;
$color-white: #FFFFFF;


/* Text-size styles */
$font-display: 62px;
$font-heading-h1: 32px;
$font-heading-h2: 24px;
$font-heading-h3: 20px;
$font-body-16: 16px;
$font-body-14: 14px;
$font-caption-18: 18px;
$font-caption-14: 14px;
